/temp
/build
/dist
/venv
/.venv
/.venv310
/.venv311
/.venv312
/env
/.tox
/.cache
/.pytest_cache
/.idea
/.eggs

/docs/next/_build
/docs/_build

/.vscode/*
!/.vscode/tasks.json

__pycache__

temp_*
examples/output

*.egg-info
*.log
*.pyd
*.pyc
*.whl
*.so
*.a
*.dll
*.tar.gz
test.py
