.github/** linguist-detectable=false
examples/** linguist-documentation=false
**/Dockerfile linguist-detectable=false
src/glcorearb.h linguist-detectable=false
src/khrplatform.h linguist-detectable=false
